@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;500;600;700;800&display=swap');

.App{
  background-color: var(--cor-1);
  font-family: var(--poppins);
  overflow-x: hidden;
}
